<footer class="bg-dark text-white py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> Sentiment Analysis Dashboard</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0">@fauzanmhr</p>
            </div>
        </div>
    </div>
</footer>
<script src="/js/bootstrap.bundle.min.js"></script>