deep_translator==1.11.4
emoji==2.14.1
fastapi==0.115.12
lingua==4.15.0
nltk==3.9.1
pandas==2.2.3
pydantic==2.11.4
python-dotenv==1.1.0
torch==2.7.0
transformers==4.51.3
uvicorn==0.34.2
git+https://github.com/har07/PySastrawi.git@development#egg=PySastrawi