<%- include('../partials/header', { title: "Error", page: "error" }) %>
<div class="container mt-5">
  <h1 class="text-danger">Error</h1>
  <p><%= message %></p>
  <% if (error.stack) { %>
    <pre><%= error.stack %></pre>
  <% } %>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>